version: '3.8' 

services:

  php:
    build: 
      context: ./php
      dockerfile: Dockerfile
      args:
        PHP_VERSION: ${PHP_VERSION:-8.4} 
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./src:/var/www/html 
    networks:
      - mi_red_app
    deploy:
      resources:
        limits:
          cpus: '0.5' # Limitamos el uso de CPU
          memory: 128M # Limita la memoria a 128 MB

  nginx:
    image: nginx:latest
    ports:
    - "8080:80" 
    volumes:
    - ./src:/var/www/html 
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf 
    depends_on:
    - php 
    networks:
    - mi_red_app

  db:
    image: mysql:8.0 
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql 
    networks:
      - mi_red_app

networks:
  mi_red_app:
    driver: bridge

volumes:
  db_data:
    driver: local